<!-- Overlay -->
<div id="drawer-overlay" class="overlay"></div>
<div id="drawer-menu" class="account_drawer">
  <div class="drawer_container">
    <div class="drawer_close_icon">
      <button id="drawer-close" aria-label="Close Menu">×</button>
    </div>
    <div class="list_items_drawer">
      <ul class="ul-list-drawer">
        {% if customer %}
          <li class="li-list-drawer"><a href="/account/login">Login</a></li>
          <li class="li-list-drawer"><a href="/pages/my-order">My Orders</a></li>
          <li class="li-list-drawer"><a href="/account/addresses">Address Book</a></li>
        {% else %}
          <li class="li-list-drawer"><a href="/account/logout">Logout</a></li>
          <li class="li-list-drawer"><a href="/pages/my-order">My Orders</a></li>
          <li class="li-list-drawer"><a href="/account/addresses">Address Book</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<style>
/* Drawer Styles */
.account_drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  overflow-y: auto;
  transform: translateX(100%); /* Initially hide the drawer */
  transition: transform 0.3s ease;
  z-index: 1001;
}

.account_drawer.open {
  transform: translateX(0); /* Slide in the drawer */
}

#drawer-toggle,
#drawer-close {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
#drawer-close{
  font-size: 32px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay.open {
   display: block;
}
  .list_items_drawer {
    margin-top: 30px;
}

.drawer_close_icon {
    text-align: right;
    padding: 8px 20px;
}
  ul.ul-list-drawer {
    list-style: none;
}
  .li-list-drawer a{
    font-size: 18px;
    font-weight: 500;
  }

</style>