<style>
  .mobile-container{
    display:none; 
  }
  </style>
<div class="list_items_drawer mobile-container">
      <ul class="ul-list-drawer list-container-style">
        {% if customer %}
          <li class="li-list-drawer 111"><a class="mobile-nav__link" href="/account/logout">
            Log Out
          </a></li>

          <li class="li-list-drawer 222"><a class="mobile-nav__link" href="/pages/my-order">My Orders
          </a></li>
          <li class="li-list-drawer 33"><a class="mobile-nav__link" href="/account/addresses">Address Book
          </a></li>
        {% else %}
          <li class="li-list-drawer"><a class="mobile-nav__link" href="/account/login">Log In
          </a></li>
          <li class="li-list-drawer"><a class="mobile-nav__link" href="/account/login">My Orders
          </a></li>
          <li class="li-list-drawer"><a class="mobile-nav__link" href="/account/login">Address Book
          </a></li>
        {% endif %}
      </ul>
    </div>
