<div id="search_modal_wrapper">
    <div class="modal_box">
        <h2>this is the search form</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia animi ipsum consectetur
            consequuntur
            commodi omnis officiis optio iste qui assumenda nesciunt aperiam pariatur porro, dolorem sed illo veritatis
            magni nam, minima, similique possimus labore soluta? Doloremque voluptatem culpa quis enim sed quisquam
            possimus
            ab commodi vel pariatur, sequi odit rem ea eos voluptatum? Eius eligendi, doloribus, impedit tenetur iste
            aut
            nisi reprehenderit pariatur dolorem error laborum culpa neque voluptatum et nesciunt quae molestias
            aspernatur
            adipisci reiciendis dolor voluptatibus veniam aliquid beatae ipsum. In, itaque quos distinctio eaque ipsum
            saepe
            rerum? Dolorum natus nesciunt beatae, maiores sed enim laboriosam totam?</p>
    </div>
</div>