
<div class="uk_custom_con">
   <div class="tp_title">{{ section.settings.tp_title }} </div>
  {%for block in section.blocks%}
   <div class="uk_link"><a href="{{ block.settings.link }}">{{ block.settings.text }}</a> </div>
    {%endfor%}
</div>

{% schema %}
  {
    "name": "Custom Link",
  "settings": [
    {
      "id": "tp_title",
      "type": "text",
      "label": "Heading Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "custom link",
      "settings": [
         {
            "id": "text",
            "type": "text",
            "label": "Add text"
        },
        {
            "id": "link",
            "type": "text",
            "label": "Add link"
        }
        
      ]
    }
  ], "presets": [
    {
      "name": "Custom Link",
      "category": "Custom Link"      
    }
  ]
  }

{% endschema %}
