/* 2024-05-27 Paul N. add class submit-attempted to contact form on submission using javascript for invalid CSS styles */

#ContactForm.submit-attempted [required]:valid , #ContactForm.submit-attempted [required]:user-valid {
   color: revert !important;
   background-color: revert !important;
   border-color: revert !important;
}
#ContactForm.submit-attempted [required]:invalid, #ContactForm [required]:user-invalid ,
#ContactForm .js-input-validation-error [required], #ContactForm .js-input-validation-error [required] {
   color: #d02e2e;
   background-color: #fff6f6;
   border-color: #d02e2e;
}
/* input:invalid {
   background-color: red;
}*/
/* input:invalid {
   background-color: red;
}*/
#ContactForm .input-wrapper:after, #ContactForm .input-wrapper:valid:after {
   content: none;
}
#ContactForm .input-wrapper.js-input-validation-error:after {
   display: block;
   width: 100%;
   color: #d02e2e;
   font-size: smaller;
}
#ContactForm .input-wrapper.js-input-validation-error:nth-of-type(1):after {
   content:'Please enter a valid first name.';
}
#ContactForm .input-wrapper.js-input-validation-error:nth-of-type(2):after {
   content:'Please enter a valid last name.';
}
#ContactForm .input-wrapper.js-input-validation-error:nth-of-type(3):after {
   content:'Please enter a valid email address.';
}
#ContactForm .input-wrapper.js-input-validation-error:nth-of-type(5):after {
   content:'Please enter a valid message.';
}

/* 2024-05-27 Paul N. disable shiny button linear-gradient animation on buttons */

.btn-hover-default:after, .btn:not(:disabled):not(.standalone-icon--wrapper):not(.swiper-button-disabled):not(.disabled):not(.btn--secondary):after, .shopify-payment-button__button.shopify-payment-button__button--unbranded:not(.disabled):not(:disabled):after, button.pswp__button:after
{
   content: none;
}

/* Scaling effect to buttons */

.btn { background-color: unset !important; }
.btn:before {  }
.btn:before {
  border-radius: 2px;
  content: "";
  background-color: var(--primary-btn-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transform: translate(-50%, -50%);
  transition-duration: 0.8s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.btn:focus:before, .btn:hover:before {
   transform: translate(-50%, -50%) scale(.95, .9);
}




/* Logo bottom middle of image banners */

@media (min-width:768px) {
  .main-content section:first-child + div:before {
    content: "";
    display: block;
    background-image: var(--seperator-logo);
    background-position: center;
    position: relative;
    width: 64px;
    height: 64px;
    top: -32px;
    margin: 0 auto;
    text-align: center;
  }

  #collections .main-content section:first-child + div:before, #products .main-content section:first-child + div:before, .template-product .main-content section:first-child + div:before{
    display:none !important;
  }
} 

@media (min-width: 989px) {
   header.site-header .site-header__wrapper .site-header__wrapper__left { display: none; }
} 

/* 2024-05-20 Paul N. add menu icon to desktop rightside header icons (mobile menu icon) */
/* disable media query making nav drawer show on rightside only: @media only screen and (max-width: 767px) */

.mobile-nav-bar-wrapper .mobile-grid--table {
   display: flex !important;
   align-items: center !important;
}
.grid__item.six-twelfths {
   margin-right: auto !important;
}
.mobile-nav-bar-wrapper .mobile-grid--table .grid__item {
   width: auto !important;
   margin-top: 0 !important;
}
.grid__item.three-twelfths:has(.hamburger-nav-button) {
   order: 3;
   margin-left: 15px !important;
}
.js-drawer-open-left .drawer--left {
    transform: translateX(-350px) !important;
    left: 100% !important;
 }

/* Change maximum line length */

.text-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Move icons in header left */

@media screen and (min-width: 768px){
.site-header__wrapper__right.top-links {
    margin-right: 65px;
}
}

/* Creates a non-clickable gap between header icons */

 .top-links--icon-links {
    gap: 9.23px;
}
.standalone-icon--wrapper:not(.icon-no-padding) {
    min-width: 35px;
    min-height: 35px;
    padding: 9.23px !important;
} 

/* Change button characteristics */

.btn {
  padding: 16px 24px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 505;
  align-items: center;
  column-gap: 8px;
  display: inline-block;
  height: 48px;
  justify-content: center;
  line-height: 16px;
}

/* Change characteristics of links in the footer */

footer a span {
  font-size: 12px;
  font-weight: 505;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

/* Padding underneath links in the footer */

.footer-content.nav-link-animated li {
    padding-bottom: 24px;
}

/* Change characteristics of headings in the footer */

.h3.footer-header {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1rem;
    margin: 0 0 1.5rem;
    opacity: .5;
    display: block;
    line-height: 16px;
}

/* Change characteristics of icons in the header */

.standalone-icon--wrapper .pswp__icn, .standalone-icon--wrapper svg {
    height: 21.5px;
    width: 21.5px;
    fill: none;
    font-size: 12px;
    display: flex;
    word-spacing: 0px;
}

.site-nav--mobile .fa-2x {
  height: 21.5px;
  width: 21.5px;
  font-weight: 500;
  display: flex;
  cursor: auto;
  font-family: "Cooper BT", serif;
  text-align: left;
  margin-top: -1px;
}

.site-nav--mobile {
  height: 35px;
}

.top-links ul li {
  height: 35px;
}

/* Change footer padding */

.footer-main {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-bottom {
  padding-left: 30px;
  padding-right: 30px;
}

/* Change newsletter signup characteristics */

.input-group-field {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  font-size: 16px;
  top: 12px;
  line-height: 15px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

/* Newsletter underline animation */

#newsletter-footer_form .footer-email-input:focus {
	outline: none;
}
#newsletter-footer_form .footer-email-input {
	border-bottom: 2px solid var(--color-scheme-border-color);
}
#newsletter-footer_form .input-group:before {
	display: none;
}
#newsletter-footer_form .input-group:after{
	position: absolute;
    bottom: 1px;
    border-bottom: 1px solid #fff;
    content: "";
    display: block;
    margin: 0 auto;
    transition: width .8s cubic-bezier(.5,0,0,1);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
}
#newsletter-footer_form .input-group:focus-within:after {
    width: calc(100% + 2px);
}
#newsletter-footer_form #subscribe{
	position: absolute;
	color: #fff;
    margin: 0;
    bottom: 2px;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}
#newsletter-footer_form .input-group {
	width: 60%;
}

/* Custom padding on header */

.site-header {
    padding-top: 4px;  
    padding-bottom: 4px;
}

/* Change size of line in newsletter signup */

#newsletter-footer_form .input-group {
    width: 100% !important;
}

/* Remove blue border on search bar */

#SearchContainer #search-input {
  outline: none !important;
}

/* Remove borders on menu pop out */

.mobile-nav__item:after, .mobile-nav.locale--mobile:after, .mobile-nav__logo-title--inner {
    border: none !important;
}
#NavDrawer .mobile-nav-grid-container .mobile-nav--footer {
    -webkit-box-shadow: unset !important;
}

/* Search underline animation */

.search-drawer #search-input:focus {
  outline: none;
}
.search-drawer .search-input-group:before {
  display: none;
}
.search-drawer .search-input-group {
  position: relative;
}
.search-drawer .search-input-group:after{
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #000;
    content: ""!important;
    display: block!important;
    margin: 0 auto;
    transition: width .8s cubic-bezier(.5,0,0,1);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
}
.search-drawer .search-input-group:focus-within:after {
    width: 100%;
}

/* Change characteristics of text in newletter section */

.rte.footer-article.text-link-animated {
    font-size: 12px;
    font-weight: 505;
}

/* Move button in slideshow up */

.homepage-section-btn-container {
  margin-bottom: 40px;
}

/* Change cart drawer size */

.drawer.drawer--right.drawer--cart {
    width: 550px; 
    height: auto; 
}

/* Change padding on collection page */

.collection-wrapper .shopify-section:first-child, .homepage-wrapper .shopify-section:first-child {
  padding-top: 0px;
}

/* Remove gray rectangle from menu */

.product--add-to-cart-button:before {
   background-color: unset !important;
}

/* Make entries rectangles on customer account pages */

#FirstName.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#LastName.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#Email.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#CreatePassword.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#CustomerEmail.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#CustomerPassword.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

#RecoverEmail.input-full {
  border: 1px solid var(--border-color);
  padding: 10px;
}

/* Keep rectangles on customer account pages when clicked into */

#FirstName.input-full: focus {
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#LastName.input-full: focus {
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#Email.input-full: focus {
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#CreatePassword.input-full: focus{
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#CustomerEmail.input-full: focus{
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#CustomerPassword.input-full: focus{
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

#RecoverEmail.input-full: focus{
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
}

/* Move text advert section right */

.text-advert-section {
  margin-left: 27px;
}

/* Put space between text advert sections */

.grid__item.large--one-third.medium--one-third {
  padding-right: 70px;
}

/* Make customer account button light gray and change to white on hover */

.email-title ~ span {
    font-size: 5px;
}

/* Change line width of description of newsletter in footer */

.rte.footer-article.text-link-animated {
    max-width: 610px;
}

/* Change line width and font size of FAQs */

.metafield-rich_text_field {
  font-size: 14px;
  max-width: 650px;
}

/* Move title of FAQs down */

.section-title.text-link-animated {
  padding-top: 15px;
}

/* Underline effect on customer account links and "Privacy Policy" */

.footer-article a{
  display: inline-block!important;
  vertical-align: bottom;
}
.grid__item--customer-accounts .form-vertical a {
   line-height: 1.39;
}
.footer-article a,
.grid__item--customer-accounts .form-vertical a{
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  animation: none!important;
  background: none!important;
}
.grid__item--customer-accounts .form-vertical .errors a{
  margin-bottom: -4.5px;
}
.footer-article a:before,
.footer-article a:after,
.grid__item--customer-accounts .form-vertical a:before,
.grid__item--customer-accounts .form-vertical a:after{
    background-color: #000;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.footer-article a:focus:after,
.footer-article a:hover:after,
.grid__item--customer-accounts .form-vertical a:focus:after, 
.grid__item--customer-accounts .form-vertical a:hover:after {
    animation-name: _link-slide-out_1t4bw_1!important;
}
.footer-article a:focus:before,
.footer-article a:hover:before,
.grid__item--customer-accounts .form-vertical a:focus:before, 
.grid__item--customer-accounts .form-vertical a:hover:before {
    animation-name: _link-slide-in_1t4bw_1!important;
}
.footer-article a:focus:before,
.footer-article a:focus:after,
.footer-article a:hover:before,
.footer-article a:hover:after,
.grid__item--customer-accounts .form-vertical a:focus:before, 
.grid__item--customer-accounts .form-vertical a:hover:before,
.grid__item--customer-accounts .form-vertical a:focus:after, 
.grid__item--customer-accounts .form-vertical a:hover:after {
    animation-direction: normal!important;
    animation-duration: .8s!important;
    animation-fill-mode: forwards!important;
    animation-timing-function: cubic-bezier(.5,0,0,1)!important;
}
.footer-article a:before,
.grid__item--customer-accounts .form-vertical a:before {
    transform: translate(-100%);
}
.footer-article a:before,
.footer-article a:after{
  background-color: #fff!important;
}

/* Underline effect on "Log in" in the menu */

.mobile-nav #customer_login_link{
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  animation: none!important;
  background: none!important;
}

.mobile-nav #customer_login_link:before,
.mobile-nav #customer_login_link:after{
    background-color: #000;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.mobile-nav #customer_login_link:focus:after, 
.mobile-nav #customer_login_link:hover:after {
    animation-name: _link-slide-out_1t4bw_1!important;
}

.mobile-nav #customer_login_link:focus:before, 
.mobile-nav #customer_login_link:hover:before {
    animation-name: _link-slide-in_1t4bw_1!important;
}
.mobile-nav #customer_login_link:focus:before, 
.mobile-nav #customer_login_link:hover:before,
.mobile-nav #customer_login_link:focus:after, 
.mobile-nav #customer_login_link:hover:after {
    animation-direction: normal!important;
    animation-duration: .8s!important;
    animation-fill-mode: forwards!important;
    animation-timing-function: cubic-bezier(.5,0,0,1)!important;
}
.mobile-nav #customer_login_link:before {
    transform: translate(-100%);
}

/* Move underline up under "Privacy Policy" */

.footer-article a {
  line-height: 16px;
  vertical-align: text-bottom;
}

/* Remove gray background when menu items are clicked */

.mobile-nav__item a:active, .mobile-nav__item a:focus {
  background: none !important;
}

/* Change color of button on homepage */

a.btn.homepage-section-btn {
    color: black !important;
}
a.btn.homepage-section-btn::before {
    background-color: white !important;
}

/* Add margin under customer log in page entries */

input.input-full, select.input-full, textarea.input-full {
  margin-bottom: 30px;
}

/* Remove message at bottom of contact us page */

.section-contact-form--submit-wrapper [data-spam-detection-disclaimer] {
  display: none;
}

/* Change charateristics of company name in footer */

li.nav-link-animated {
    color: #fff;
    font-family: "Cooper BT", serif;
    opacity: .6 !important;
}

/* Change color of buttons on customer account pages */

#customer_login .btn {
  color: #e7e7e7;
}

#customer_login .btn:hover {
  color: #ffffff;
}

#create_customer .btn {
  color: #e7e7e7;
}

#create_customer .btn:hover {
  color: #ffffff;
}

form[action='/account/recover'] .btn {
  color: #e7e7e7;
}

form[action='/account/recover'] .btn:hover {
  color: #ffffff;
}

#CustomerLoginForm .field:has(input:placeholder-shown) > label {
    color: grey;
}
#CustomerLoginForm .field input { {
    border: 1px solid black !important;
    color: grey;
}
